{
  "presets": [
    [ "@babel/preset-env", 
      {
        "targets": {
          "ie": "8"
        }
      }
    ], 
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/syntax-export-extensions",
    "@babel/plugin-transform-runtime"
  ]
}